<div class="recipe-details">
<br>
<h3 class="recipe-name-show"><%= @recipe.name %></h3>
<br>
<div class="showcase">

<div class="left-details">
<p><strong>Preparation Time:</strong> <%= @recipe.preparation_time %> hour</p>
<p><strong>Cooking Time:</strong> <%= @recipe.cooking_time %> hour</p>
<p><strong>Steps to go here..</strong></p>
<%= button_to "Generate Shoping List", class: "generate-shopping-list-btn" %>
</div>
<div class="right-details">
   <%= button_to "Add Ingredients"%>
</div>

</div>
<br>
<hr>

<div class="ingredient-details">
 <table class="recipe-food-table">
    <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th >Value</th>
      <% if @recipe.user == current_user %>
       
  
      <th>Action</th><% end %>
    </tr>
    </thead>
    <tbody>
    <% if (@recipe.recipe_foods.length() < 1) %>
      <tr>
        <td>No food is attached 😔</td>
      </tr>
    <% end %>
    <% @recipe.recipe_foods.each do |item| %>
      <tr>
        <th><%= item.food.name %></th>
        <td><%= item.quantity %></td>
        <td>$<%= item.quantity * item.food.price %></td>
         <% if @recipe.user == current_user %>
        <td><%= button_to raw('<i class=\"fa-solid fa-trash-can"\></i> Delete'), recipe_recipe_foods_path(@recipe.id, id: item.id), :method => :delete, :class => "btn btn-sm btn-danger" %></td>
       <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
</div>
