<div class="food-index-container">
 <br>
    <table class="food-table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Measurement Unit</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Action</th>
                <%# <th colspan="3"></th> %>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |food| %>
                <tr>
                    <td class="text-center"><%= food.name %></td>
                    <td class="text-center"><%= food.measurement_unit %></td>
                    <td class="text-center"><%= food.price %></td>
                    <td class="text-center"><%= food.quantity %></td>
                    <td class="text-center"><%= button_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-btn" %></td>
                </tr>
            <% end %>
        </tbody>
        </thead>
    </table>
    <br>
     <div class="add-new-food-button text-center">
 <%= button_to "Add New Food", new_food_path, method: :get, class: "classic-btn" %>
 </div>
</div>