<div class="food-index-container">
<br>
<div class="add-new-food-button">
<%= button_to "Add New Food", new_food_path, method: :get %>
</div>
<br><br>

    <table class="food-table">
        <thead>
            <tr>
                <th>Food</th>
                <th>Measurement Unit</th>
                <th>Unit Price</th>
                <th>Action</th>
                <th colspan="3"></th>
            </tr>
        </thead>
        <tbody>
            <% @foods.each do |food| %>
                <tr>
                    <td><%= food.name %></td>
                    <td><%= food.measurement_unit %></td>
                    <td><%= food.price %></td>
                    <td><%= food.quantity %></td>
                    <td><%= button_to 'Delete', food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
            <% end %>
        </tbody>
        </thead>
    </table>
</div>