<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "recipes", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "foods", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="header">
  <div class="header-lest">
    <h1 class="headline">Tasty Recipes</h1>
    <p class="current-user-name"> <% if user_signed_in? %> Hello, <%= current_user.name %> <% end %> </p>
    </div>
    <nav class="navigation">
      <ul class="nav-list">
        <li><% if user_signed_in? %><%= link_to "Home", root_path, class: "color-dark" %></li>
         <% end %>
         <li><% if user_signed_in? %> <%= link_to "Recipes", recipes_path, class: "color-dark" %> </li>
          <% end %>
         <li> <% if user_signed_in? %><%= link_to "Foods", foods_path, class: "color-dark" %></li>
          <% end %>
          <li><% if user_signed_in? %> <%= link_to "AddRecipe", new_recipe_path, class: "color-dark"  %></li>
          <% end %>
          <li><% if user_signed_in? %><%= link_to "Public", public_recipes_path, class: "color-dark" %></li>
          <% end %>
        <li><% if user_signed_in? %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-out-btn" %>
        <% elsif current_page?(new_user_session_path) %>
          <%= link_to "Sign up", new_user_registration_path, class: "sign-out-btn" %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path, class: "sign-out-btn" %>
        <% end %></li>

      </ul>
    </nav>
  </header>
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
    <footer class="footer">
      <p class="footer-text">© 2022 Recipe Application</p>
    </footer>
  </body>
</html>
