<!DOCTYPE html>
<html>
  <head>
    <title>RecipeApplication</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "recipes", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "foods", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <header class="header">
    <h1 class="headline">Recipe Application</h1>
    <nav class="navigation">
      <ul class="nav-list">
        <li><% if user_signed_in? %><%= link_to "Home", root_path %></li>
         <% end %>
         <li> <% if user_signed_in? %><%= link_to "Foods", foods_path %></li>
          <% end %>
        <li><% if user_signed_in? %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% elsif current_page?(new_user_session_path) %>
          <%= link_to "Sign up", new_user_registration_path %>
        <% else %>
          <%= link_to "Sign in", new_user_session_path %>
        <% end %></li>

      </ul>
    </nav>
  </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
